*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    border: 2px solid white;
    background: transparent;
}

.logo{
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
   
    
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width:55%;
   
}
.nav-links li{
    list-style:disc;
    
    
}
.nav-links a{
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;   
    border:1px solid white;
    padding: 7px 20px;
}
.nick{
    background-color: ;
}
.nick:hover{
    background-color:black;
    transition: all 0.5s ease-in;
}

.slidershow{
width: 700px;
height: 400px;
    overflow: hidden;
}
.middle{
    position: absolute;
    top: 45%;
    left: 27%;
    transform: translate(-50%, -50%); 
    border: 4px solid black
}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar{
    width: 50px;
    height: 20px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background: brown;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    position: static;
    width: 500%;
    height: 100%;
    display: flex;
    
}
.slide{
    width: 20%;
    transition: 0.6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}

#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}



























